@charset "utf-8";
/* CSS Document */

/*form表单 begin*/
.fM_inputW150{ width:150px; height:30px; line-height:30px; background:url(../images/fM_inputBg.jpg) repeat-x; border-top:1px solid #c6ccda; border-left:1px solid #c6ccda; border-right:1px solid #dfe4f1; border-bottom:1px solid #dfe4f1; text-indent:10px; font-size:16px; color:#f60; font-weight:700;  }
.fM_inputW160{ width:160px; height:30px; line-height:30px; background:url(../images/fM_inputBg.jpg) repeat-x; border-top:1px solid #c6ccda; border-left:1px solid #c6ccda; border-right:1px solid #dfe4f1; border-bottom:1px solid #dfe4f1; text-indent:10px; font-size:14px; color:#427fb8; font-weight:500;  }
.fM_inputW120{ width:120px; height:30px; line-height:30px; background:url(../images/fM_inputBg.jpg) repeat-x; border-top:1px solid #c6ccda; border-left:1px solid #c6ccda; border-right:1px solid #dfe4f1; border-bottom:1px solid #dfe4f1; text-indent:10px; font-size:14px; color:#427fb8; font-weight:500;  }
.fM_inputW200{ width:200px; height:30px; line-height:30px; background:url(../images/fM_inputBg.jpg) repeat-x; border-top:1px solid #c6ccda; border-left:1px solid #c6ccda; border-right:1px solid #dfe4f1; border-bottom:1px solid #dfe4f1; text-indent:10px; font-size:14px; color:#427fb8; font-weight:500;  }
.fM_inputW300{ width:300px; height:30px; line-height:30px; background:url(../images/fM_inputBg.jpg) repeat-x; border-top:1px solid #c6ccda; border-left:1px solid #c6ccda; border-right:1px solid #dfe4f1; border-bottom:1px solid #dfe4f1; text-indent:10px; font-size:14px; color:#427fb8; font-weight:500;  }
.fM_inputW400{ width:400px; height:30px; line-height:30px; background:url(../images/fM_inputBg.jpg) repeat-x; border-top:1px solid #c6ccda; border-left:1px solid #c6ccda; border-right:1px solid #dfe4f1; border-bottom:1px solid #dfe4f1; text-indent:10px; font-size:14px; color:#427fb8; font-weight:500;  }
.fM_textareaH200{ width:400px; height:80px; line-height:30px; border-top:1px solid #c6ccda; border-left:1px solid #c6ccda; border-right:1px solid #dfe4f1; border-bottom:1px solid #dfe4f1; text-indent:10px; font-size:14px; color:#427fb8; font-weight:500;}

.fM_select{  height:30px; line-height:30px; background:url(../images/fM_inputBg.jpg) repeat-x; border-top:1px solid #c6ccda; border-left:1px solid #c6ccda; border-right:1px solid #dfe4f1; border-bottom:1px solid #dfe4f1;font-size:14px; color:#427fb8; font-weight:500;  }
.fM_tmshop{margin-top:20px;padding-bottom:80px;  }
.fM_tmshop h1{ background:#43c8bf; border-top-left-radius:10px; border-top-right-radius:10px; height:34px; color:#fff; font-size:16px; text-indent:10px; line-height:34px;}
.fM_tmshop .fM_r_list{ width:95%; margin:0px auto;}
/*form表单 over*/

/*药店详情 表单 begin*/
.fM_listTable3{ margin:auto; background:#fff; width:100%; border-collapse: separate; border-left: 1px solid #eee; border-top: 1px solid #eee; overflow-x: auto; clear:both; font-size:14px; }
.fM_listTable3 th{border-bottom: 1px solid #eee; border-right: 1px solid #eee;height: 18px;padding: 10px 10px;text-align: center; background:#f8f8f8; color:#777; font-weight:700; border-bottom: 1px solid #eee; }
.fM_listTable3 td{border-bottom: 1px solid #eee; border-right: 1px solid #eee; line-height: 22px; padding: 10px 3px;vertical-align: top; color:#444;}
.fM_listTable3 td span{ color:#F00; padding-left:18%;}

.fM_listTable3 td.fM_txtlink{ text-decoration:underline;}
.fM_listTable3 th font{ color:#F00;}
.fM_listTable3 th.l{text-align: left;}
.fM_listTable3 th.c{text-align: center;}
.fM_listTable3 td.c{text-align: center;}
.fM_listTable3 td.r{text-align: right;}
.fM_listTable3 th.r{text-align: right;}
.fM_listTable3 strong{ color:#f00;}
.fM_listTable3 button{ background:#43c8bf; padding:3px 18px;  color:#fff; font-size:16px; border-radius:3px; display:inline-block; border:none; cursor:pointer; outline:none; margin-right:15px; }
.fM_listTable3 button:hover{ background:#e39c57;}
.fM_listTable3 button.current{ background:#999;}
/*药店详情 表单 over*/

/*库存数量详情 表单 begin*/
.fM_tmshop .fM_r_list .fM_listTable2{ margin:auto; background:#fff; width:100%; border-collapse: separate; border-left: 1px solid #eee; border-top: 1px solid #eee; overflow-x: auto; clear:both; font-size:14px;margin-bottom:20px; }
.fM_tmshop .fM_r_list .fM_listTable2 th{border-bottom: 1px solid #eee; border-right: 1px solid #eee;height: 18px;padding: 10px 10px;text-align: center; background:#f8f8f8; color:#777; font-weight:700; border-bottom: 1px solid #eee; }
.fM_tmshop .fM_r_list .fM_listTable2 td{border-bottom: 1px solid #eee; border-right: 1px solid #eee; line-height: 22px; padding: 10px 3px; /*text-align:center;*/ vertical-align: top; color:#444;}
.fM_tmshop .fM_r_list .fM_listTable2 td input{ border: solid 1px #ddd; background:#fff; width:18px; height:18px; border:0;}

.fM_tmshop .fM_r_list .fM_listTable2 td.fM_txtlink{ text-decoration:underline;}
.fM_tmshop .fM_r_list .fM_listTable2 th.l{text-align: left;}
.fM_tmshop .fM_r_list .fM_listTable2 th.c{text-align: center;}
.fM_tmshop .fM_r_list .fM_listTable2 td.c{text-align: center;}
.fM_tmshop .fM_r_list .fM_listTable2 td.r{text-align: right;}
.fM_tmshop .fM_r_list .fM_listTable2 th.r{text-align: right;}
.fM_tmshop .fM_r_list .fM_listTable2 strong{ color:#f00;}
.fM_tmshop .fM_r_list .fM_listTable2 button{ background:#43c8bf; padding:3px 18px;  color:#fff; font-size:16px; border-radius:3px; display:inline-block; border:none; cursor:pointer; outline:none; margin-right:15px; }
.fM_tmshop .fM_r_list .fM_listTable2 button:hover{ background:#e39c57;}
.fM_tmshop .fM_r_list .fM_listTable2 button.current{ background:#e39c57;}
/*库存数量详情 表单 over*/


/*分页 begin*/
.fM_page-box { line-height:32px; margin:20px auto; width:900px; font-size:14px; height:60px;}
.fM_page-box ul.page li{ float:left; height:30px; line-height:30px; margin-right:10px;  }
.fM_page-box ul.page li a { display:block; padding:0 12px; border:1px solid #ddd; background:url(../images/fM_page.gif) 0 -23px repeat-x; }
.fM_page-box ul.page li.homenone { display:block; padding:0 12px; border:1px solid #ddd; background:url(../images/fM_page.gif) 0 -23px repeat-x; color:#ccc; }
.fM_page-box ul.page li a:hover {  border:1px solid #0e8c6e; text-decoration:none; color:#4482bb; }
.fM_page-box ul.page li.on { padding:0 12px; background:#43c8bf; color:#fff; border:1px solid #0e8c6e; }
.fM_page-box ul.page li.next a { width:6px; height:11px; padding:10px 15px; border:1px solid #ddd; cursor:pointer;  background:url(../images/fM_page.gif) 3px -54px no-repeat; overflow:hidden;  }
.fM_page-box ul.page li.next a:hover { background:url(../images/fM_page.gif) 3px -80px no-repeat; }
.fM_page-box ul.page li.up a { width:6px; height:11px; padding:10px 15px; border:1px solid #ddd; cursor:pointer;  background:url(../images/fM_page.gif) 3px -107px no-repeat; overflow:hidden;  }
.fM_page-box ul.page li.up a:hover { background:url(../images/fM_page.gif) 3px -133px no-repeat; }
.fM_page-box ul.page li.noneup { width:6px; height:11px; padding:10px 15px; border:1px solid #ddd; background:url(../images/fM_page.gif) 3px -166px no-repeat; overflow:hidden;  }
.fM_page-box ul.page li.nonedown { width:6px; height:11px; padding:10px 15px; border:1px solid #ddd; background:url(../images/fM_page.gif) 3px -192px no-repeat; overflow:hidden;  }
.ipt-page { width:35px; height:23px; border:1px solid #4380b9; text-align:center;  }
.btn-page { width:40px; height:23px;  border:1px solid #4380b9; cursor:pointer; background:url(../images/fM_page.gif)  repeat-x; margin-top:3px;}
.fM_page-box button{background:#43c8bf; outline:none; cursor:pointer; padding:3px 18px;  border:0; font-size:16px; display: inline-block ; border-radius:3px; color:#fff; }
.fM_page-box button:hover{ background:#e39c57;}
.fM_page-box input{ border-top:1px solid #aeadad; border-left:1px solid #aeadad;border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; height:20px; padding:5px 0; margin-bottom:10px; text-indent:3px;  width:40px;}
/*分页 over*/

/*内嵌表单 begin*/
.fM_subTable1{ margin:auto; background:#fff; width:92%; text-align:center; border-collapse: separate; border-left: 1px solid #eee; border-top: 1px solid #eee; overflow-x: auto; clear:both; font-size:14px;}
/*内嵌表单 over*/

/*子级菜单 begin*/
.fM_content .right .fM_tab{ height:35px; line-height:35px; width:100%; margin-bottom:14px; }
.fM_content .right .fM_tab li{ float:left;  background:#4cb8df; padding:3px 18px;  color:#fff; font-size:16px; border-radius:5px; display:inline-block; border:none; cursor:pointer; outline:none; margin-right:15px; }
.fM_content .right .fM_tab a{ font-size:16px; color:#fff; }
.fM_content .right .fM_tab li:hover,.fM_content .right .fM_tab .current { background:#e39c57; color:#fff;}
/*子级菜单 over*/




















